In [23]:
create TABLE Employee (id int identity(1234,1111),Name VARCHAR(32),Department VARCHAR(32),Hire_Date VARCHAR(32),Training int);

In [24]:
INSERT into Employee VALUES('J.Jone','Sales','18-Jun-92',24),('S.Smith','Production','12-Feb-98',40),('A.Adams','Sales','18-Nov-98',60),('B.Bates','Advertising','10-Mar-85',16),('D.Davis','Production','26-Jul-99',56),('C.Cole','Shipping','18-May-91',32),('E.Ellis','Sales','15-Dec-98',80),('F.Files','Advertising','17-Oct-90',24),('G.Gates','Advertising','15-Mar-99',48)

In [25]:
select distinct Department from Employee

Department
Advertising
Production
Sales
Shipping

In [33]:
ALTER TABLE Employee add Location VARCHAR(32);
UPDATE Employee set Location='Denmark' where id=1234;
UPDATE Employee set Location='Hungary' where id=2345;
UPDATE Employee set Location='India' where id=3456;
UPDATE Employee set Location='USA' where id=4567;
UPDATE Employee set Location='China' where id=5678;
UPDATE Employee set Location='Prague' where id=6789;
UPDATE Employee set Location='Chile' where id=7900;
UPDATE Employee set Location='Itlay' where id=9011;
UPDATE Employee set Location='Ukrain' where id=10122;

In [34]:
select * from Employee

id,Name,Department,Hire_Date,Training,Location
1234,J.Jone,Sales,18-Jun-92,24,Denmark
2345,S.Smith,Production,12-Feb-98,40,Hungary
3456,A.Adams,Sales,18-Nov-98,60,India
4567,B.Bates,Advertising,10-Mar-85,16,USA
5678,D.Davis,Production,26-Jul-99,56,China
6789,C.Cole,Shipping,18-May-91,32,Prague
7900,E.Ellis,Sales,15-Dec-98,80,Chile
9011,F.Files,Advertising,17-Oct-90,24,Itlay
10122,G.Gates,Advertising,15-Mar-99,48,Ukrain