In [51]:
create TABLE Employee (id int identity(1234,1111),Name VARCHAR(32),Department VARCHAR(32),Hire_Date date,Training int);

In [53]:
INSERT into Employee VALUES('J.Jone','Sales','06/18/1992',24),('S.Smith','Production','02/12/1998',40),('A.Adams','Sales','11/18/1998',60),('B.Bates','Advertising','03/10/1985',16),('D.Davis','Production','07/26/1999',56),('C.Cole','Shipping','05/18/1991',32),('E.Ellis','Sales','12/15/1998',80),('F.Files','Advertising','10/17/1990',24),('G.Gates','Advertising','09/15/1999',48)

In [55]:
select distinct Department from Employee

Department
Advertising
Production
Sales
Shipping

In [56]:
ALTER TABLE Employee add Location VARCHAR(32);
UPDATE Employee set Location='Denmark' where id=1234;
UPDATE Employee set Location='Hungary' where id=2345;
UPDATE Employee set Location='India' where id=3456;
UPDATE Employee set Location='USA' where id=4567;
UPDATE Employee set Location='China' where id=5678;
UPDATE Employee set Location='Prague' where id=6789;
UPDATE Employee set Location='Chile' where id=7900;
UPDATE Employee set Location='Itlay' where id=9011;
UPDATE Employee set Location='Ukrain' where id=10122;

In [74]:
select * from Employee

EmployeeID,Name,Department,Training,Location
2345,J.Jone,Sales,24,Hungary
3456,S.Smith,Production,40,India
4567,A.Adams,Sales,60,USA
5678,B.Bates,Advertising,16,China
6789,D.Davis,Production,56,Prague
7900,C.Cole,Shipping,32,Chile
12344,Aniket,Sales,40,NULL
10122,F.Files,Advertising,24,Ukrain
11233,G.Gates,Advertising,48,NULL

In [58]:
sp_rename 'Employee.id','EmployeeID'

In [60]:
SELECT * FROM Employee WHERE Department in('Sales','Shipping')

EmployeeID,Name,Department,Hire_Date,Training,Location
2345,J.Jone,Sales,1992-06-18,24,Hungary
4567,A.Adams,Sales,1998-11-18,60,USA
7900,C.Cole,Shipping,1991-05-18,32,Chile
9011,E.Ellis,Sales,1998-12-15,80,Itlay

In [62]:
SELECT * FROM Employee WHERE Hire_Date BETWEEN '01/01/1991' and '12/20/1998'

EmployeeID,Name,Department,Hire_Date,Training,Location
2345,J.Jone,Sales,1992-06-18,24,Hungary
3456,S.Smith,Production,1998-02-12,40,India
4567,A.Adams,Sales,1998-11-18,60,USA
7900,C.Cole,Shipping,1991-05-18,32,Chile
9011,E.Ellis,Sales,1998-12-15,80,Itlay

In [64]:
select * into Employee1 from Employee WHERE EmployeeID=2;
SELECT * from Employee1;

In [66]:
SELECT * from Employee where Training>40

EmployeeID,Name,Department,Hire_Date,Training,Location
4567,A.Adams,Sales,1998-11-18,60,USA
6789,D.Davis,Production,1999-07-26,56,Prague
9011,E.Ellis,Sales,1998-12-15,80,Itlay
11233,G.Gates,Advertising,1999-09-15,48,NULL

In [67]:
select * into Employee2 from Employee;
SELECT * From Employee2

EmployeeID,Name,Department,Hire_Date,Training,Location
2345,J.Jone,Sales,1992-06-18,24,Hungary
3456,S.Smith,Production,1998-02-12,40,India
4567,A.Adams,Sales,1998-11-18,60,USA
5678,B.Bates,Advertising,1985-03-10,16,China
6789,D.Davis,Production,1999-07-26,56,Prague
7900,C.Cole,Shipping,1991-05-18,32,Chile
9011,E.Ellis,Sales,1998-12-15,80,Itlay
10122,F.Files,Advertising,1990-10-17,24,Ukrain
11233,G.Gates,Advertising,1999-09-15,48,NULL

In [69]:
DELETE  FROM Employee WHERE Training >60

In [71]:
ALTER TABLE Employee DROP COLUMN Hire_Date

In [72]:
alter table Employee alter column department varchar(34);

In [73]:
INSERT into Employee(Name,Department,Training) VALUES('Aniket','Sales',40)