In [1]:
select * from regions
select * from countries
select * from locations
select * from jobs
select * from departments
select * from employees
select * from dependents

region_id,region_name
1,Europe
2,Americas
3,Asia
4,Middle East and Africa

country_id,country_name,region_id
AR,Argentina,2
AU,Australia,3
BE,Belgium,1
BR,Brazil,2
CA,Canada,2
CH,Switzerland,1
CN,China,3
DE,Germany,1
DK,Denmark,1
EG,Egypt,4
FR,France,1
HK,HongKong,3
IL,Israel,4
IN,India,3
IT,Italy,1
JP,Japan,3
KW,Kuwait,4
MX,Mexico,2
NG,Nigeria,4
NL,Netherlands,1
SG,Singapore,3
UK,United Kingdom,1
US,United States of America,2
ZM,Zambia,4
ZW,Zimbabwe,4

location_id,street_address,postal_code,city,state_province,country_id
1400,2014 Jabberwocky Rd,26192,Southlake,Texas,US
1500,2011 Interiors Blvd,99236,South San Francisco,California,US
1700,2004 Charade Rd,98199,Seattle,Washington,US
1800,147 Spadina Ave,M5V 2L7,Toronto,Ontario,CA
2400,8204 Arthur St,NULL,London,NULL,UK
2500,"Magdalen Centre, The Oxford Science Park",OX9 9ZB,Oxford,Oxford,UK
2700,Schwanthalerstr. 7031,80925,Munich,Bavaria,DE

job_id,job_title,min_salary,max_salary
1,Public Accountant,4200.00,9000.00
2,Accounting Manager,8200.00,16000.00
3,Administration Assistant,3000.00,6000.00
4,President,20000.00,40000.00
5,Administration Vice President,15000.00,30000.00
6,Accountant,4200.00,9000.00
7,Finance Manager,8200.00,16000.00
8,Human Resources Representative,4000.00,9000.00
9,Programmer,4000.00,10000.00
10,Marketing Manager,9000.00,15000.00
11,Marketing Representative,4000.00,9000.00
12,Public Relations Representative,4500.00,10500.00
13,Purchasing Clerk,2500.00,5500.00
14,Purchasing Manager,8000.00,15000.00
15,Sales Manager,10000.00,20000.00
16,Sales Representative,6000.00,12000.00
17,Shipping Clerk,2500.00,5500.00
18,Stock Clerk,2000.00,5000.00
19,Stock Manager,5500.00,8500.00
20,Public Accountant,4200.00,9000.00

department_id,department_name,location_id
1,Administration,1700
2,Marketing,1800
3,Purchasing,1700
4,Human Resources,2400
5,Shipping,1500
6,IT,1400
7,Public Relations,2700
8,Sales,2500
9,Executive,1700
10,Finance,1700
11,Accounting,1700

employee_id,first_name,last_name,email,phone_number,hire_date,job_id,salary,manager_id,department_id
100,Steven,King,steven.king@sqltutorial.org,515.123.4567,1987-06-17,4,24000.00,NULL,9
101,Neena,Kochhar,neena.kochhar@sqltutorial.org,515.123.4568,1989-09-21,5,17000.00,100,9
102,Lex,De Haan,lex.de haan@sqltutorial.org,515.123.4569,1993-01-13,5,17000.00,100,9
103,Alexander,Hunold,alexander.hunold@sqltutorial.org,590.423.4567,1990-01-03,9,9000.00,102,6
104,Bruce,Ernst,bruce.ernst@sqltutorial.org,590.423.4568,1991-05-21,9,6000.00,103,6
105,David,Austin,david.austin@sqltutorial.org,590.423.4569,1997-06-25,9,4800.00,103,6
106,Valli,Pataballa,valli.pataballa@sqltutorial.org,590.423.4560,1998-02-05,9,4800.00,103,6
107,Diana,Lorentz,diana.lorentz@sqltutorial.org,590.423.5567,1999-02-07,9,4200.00,103,6
108,Nancy,Greenberg,nancy.greenberg@sqltutorial.org,515.124.4569,1994-08-17,7,12000.00,101,10
109,Daniel,Faviet,daniel.faviet@sqltutorial.org,515.124.4169,1994-08-16,6,9000.00,108,10
110,John,Chen,john.chen@sqltutorial.org,515.124.4269,1997-09-28,6,8200.00,108,10
111,Ismael,Sciarra,ismael.sciarra@sqltutorial.org,515.124.4369,1997-09-30,6,7700.00,108,10
112,Jose Manuel,Urman,jose manuel.urman@sqltutorial.org,515.124.4469,1998-03-07,6,7800.00,108,10
113,Luis,Popp,luis.popp@sqltutorial.org,515.124.4567,1999-12-07,6,6900.00,108,10
114,Den,Raphaely,den.raphaely@sqltutorial.org,515.127.4561,1994-12-07,14,11000.00,100,3
115,Alexander,Khoo,alexander.khoo@sqltutorial.org,515.127.4562,1995-05-18,13,3100.00,114,3
116,Shelli,Baida,shelli.baida@sqltutorial.org,515.127.4563,1997-12-24,13,2900.00,114,3
117,Sigal,Tobias,sigal.tobias@sqltutorial.org,515.127.4564,1997-07-24,13,2800.00,114,3
118,Guy,Himuro,guy.himuro@sqltutorial.org,515.127.4565,1998-11-15,13,2600.00,114,3
119,Karen,Colmenares,karen.colmenares@sqltutorial.org,515.127.4566,1999-08-10,13,2500.00,114,3
120,Matthew,Weiss,matthew.weiss@sqltutorial.org,650.123.1234,1996-07-18,19,8000.00,100,5
121,Adam,Fripp,adam.fripp@sqltutorial.org,650.123.2234,1997-04-10,19,8200.00,100,5
122,Payam,Kaufling,payam.kaufling@sqltutorial.org,650.123.3234,1995-05-01,19,7900.00,100,5
123,Shanta,Vollman,shanta.vollman@sqltutorial.org,650.123.4234,1997-10-10,19,6500.00,100,5
126,Irene,Mikkilineni,irene.mikkilineni@sqltutorial.org,650.124.1224,1998-09-28,18,2700.00,120,5
145,John,Russell,john.russell@sqltutorial.org,NULL,1996-10-01,15,14000.00,100,8
146,Karen,Partners,karen.partners@sqltutorial.org,NULL,1997-01-05,15,13500.00,100,8
176,Jonathon,Taylor,jonathon.taylor@sqltutorial.org,NULL,1998-03-24,16,8600.00,100,8
177,Jack,Livingston,jack.livingston@sqltutorial.org,NULL,1998-04-23,16,8400.00,100,8
178,Kimberely,Grant,kimberely.grant@sqltutorial.org,NULL,1999-05-24,16,7000.00,100,8
179,Charles,Johnson,charles.johnson@sqltutorial.org,NULL,2000-01-04,16,6200.00,100,8
192,Sarah,Bell,sarah.bell@sqltutorial.org,650.501.1876,1996-02-04,17,4000.00,123,5
193,Britney,Everett,britney.everett@sqltutorial.org,650.501.2876,1997-03-03,17,3900.00,123,5
200,Jennifer,Whalen,jennifer.whalen@sqltutorial.org,515.123.4444,1987-09-17,3,4400.00,101,1
201,Michael,Hartstein,michael.hartstein@sqltutorial.org,515.123.5555,1996-02-17,10,13000.00,100,2
202,Pat,Fay,pat.fay@sqltutorial.org,603.123.6666,1997-08-17,11,6000.00,201,2
203,Susan,Mavris,susan.mavris@sqltutorial.org,515.123.7777,1994-06-07,8,6500.00,101,4
204,Hermann,Baer,hermann.baer@sqltutorial.org,515.123.8888,1994-06-07,12,10000.00,101,7
205,Shelley,Higgins,shelley.higgins@sqltutorial.org,515.123.8080,1994-06-07,2,12000.00,101,11
206,William,Gietz,william.gietz@sqltutorial.org,515.123.8181,1994-06-07,1,8300.00,205,11

dependent_id,first_name,last_name,relationship,employee_id
1,Penelope,Gietz,Child,206
2,Nick,Higgins,Child,205
3,Ed,Whalen,Child,200
4,Jennifer,King,Child,100
5,Johnny,Kochhar,Child,101
6,Bette,De Haan,Child,102
7,Grace,Faviet,Child,109
8,Matthew,Chen,Child,110
9,Joe,Sciarra,Child,111
10,Christian,Urman,Child,112
11,Zero,Popp,Child,113
12,Karl,Greenberg,Child,108
13,Uma,Mavris,Child,203
14,Vivien,Hunold,Child,103
15,Cuba,Ernst,Child,104
16,Fred,Austin,Child,105
17,Helen,Pataballa,Child,106
18,Dan,Lorentz,Child,107
19,Bob,Hartstein,Child,201
20,Lucille,Fay,Child,202
21,Kirsten,Baer,Child,204
22,Elvis,Khoo,Child,115
23,Sandra,Baida,Child,116
24,Cameron,Tobias,Child,117
25,Kevin,Himuro,Child,118
26,Rip,Colmenares,Child,119
27,Julia,Raphaely,Child,114
28,Woody,Russell,Child,145
29,Alec,Partners,Child,146
30,Sandra,Taylor,Child,176

In [2]:
--Solution No:-1
select emp.job_id,AVG(emp.salary) as 'Average', MIN(emp.salary) as 'Minimum', MAX(emp.salary) as 'maxmium' from employees emp group by emp.job_id

job_id,Average,Minimum,maxmium
1,8300.000000,8300.00,8300.00
2,12000.000000,12000.00,12000.00
3,4400.000000,4400.00,4400.00
4,24000.000000,24000.00,24000.00
5,17000.000000,17000.00,17000.00
6,7920.000000,6900.00,9000.00
7,12000.000000,12000.00,12000.00
8,6500.000000,6500.00,6500.00
9,5760.000000,4200.00,9000.00
10,13000.000000,13000.00,13000.00
11,6000.000000,6000.00,6000.00
12,10000.000000,10000.00,10000.00
13,2780.000000,2500.00,3100.00
14,11000.000000,11000.00,11000.00
15,13750.000000,13500.00,14000.00
16,7550.000000,6200.00,8600.00
17,3950.000000,3900.00,4000.00
18,2700.000000,2700.00,2700.00
19,7650.000000,6500.00,8200.00

In [3]:
--Solution No:2
select dept.department_name as 'Department Name', count(emp.department_id) as 'Number_of_employee' from employees emp
join  departments dept  on dept.department_id=emp.department_id
group by dept.department_name, dept.department_id

Department Name,Number_of_employee
Administration,1
Marketing,2
Purchasing,6
Human Resources,1
Shipping,7
IT,5
Public Relations,1
Sales,6
Executive,3
Finance,6
Accounting,2

In [4]:
--Solution No:3
select COUNT(*) as 'count_employees', emp1.manager_id , emp2.first_name as 'Manager Name'from  employees emp1 , employees emp2
where emp1.manager_id= emp2.employee_id
 group by emp1.manager_id, emp2.first_name
 order by emp1.manager_id

count_employees,manager_id,Manager Name
14,100,Steven
5,101,Neena
1,102,Lex
4,103,Alexander
5,108,Nancy
5,114,Den
1,120,Matthew
2,123,Shanta
1,201,Michael
1,205,Shelley

In [5]:
 --Solution No:4
 select emp.last_name , emp.department_id , dept.department_name from employees emp join departments dept
 on emp.department_id=dept.department_id
 order by emp.last_name

last_name,department_id,department_name
Austin,6,IT
Baer,7,Public Relations
Baida,3,Purchasing
Bell,5,Shipping
Chen,10,Finance
Colmenares,3,Purchasing
De Haan,9,Executive
Ernst,6,IT
Everett,5,Shipping
Faviet,10,Finance
Fay,2,Marketing
Fripp,5,Shipping
Gietz,11,Accounting
Grant,8,Sales
Greenberg,10,Finance
Hartstein,2,Marketing
Higgins,11,Accounting
Himuro,3,Purchasing
Hunold,6,IT
Johnson,8,Sales
Kaufling,5,Shipping
Khoo,3,Purchasing
King,9,Executive
Kochhar,9,Executive
Livingston,8,Sales
Lorentz,6,IT
Mavris,4,Human Resources
Mikkilineni,5,Shipping
Partners,8,Sales
Pataballa,6,IT
Popp,10,Finance
Raphaely,3,Purchasing
Russell,8,Sales
Sciarra,10,Finance
Taylor,8,Sales
Tobias,3,Purchasing
Urman,10,Finance
Vollman,5,Shipping
Weiss,5,Shipping
Whalen,1,Administration

In [7]:
 --Solution No:5
 select j.job_title , l.street_address, l.city, l.country_id from jobs j join employees emp on
 j.job_id=emp.job_id
 join departments dept on dept.department_id=emp.department_id
 join locations l on l.location_id=dept.location_id
 where l.location_id=2400 and job_title='Human Resources Representative'

job_title,street_address,city,country_id
Human Resources Representative,8204 Arthur St,London,UK

In [8]:
 --Solution No:6
 select emp.last_name, dept.department_name, dept.location_id, l.city from employees emp join departments dept 
 on emp.department_id=dept.department_id
 join locations l on l.location_id=dept.location_id
 where dept.location_id in (1400,1700) and dept.department_name in ('IT','FINANCE','PURCHASING')
 order by dept.location_id

last_name,department_name,location_id,city
Hunold,IT,1400,Southlake
Ernst,IT,1400,Southlake
Austin,IT,1400,Southlake
Pataballa,IT,1400,Southlake
Lorentz,IT,1400,Southlake
Raphaely,Purchasing,1700,Seattle
Khoo,Purchasing,1700,Seattle
Baida,Purchasing,1700,Seattle
Tobias,Purchasing,1700,Seattle
Himuro,Purchasing,1700,Seattle
Colmenares,Purchasing,1700,Seattle
Greenberg,Finance,1700,Seattle
Faviet,Finance,1700,Seattle
Chen,Finance,1700,Seattle
Sciarra,Finance,1700,Seattle
Urman,Finance,1700,Seattle
Popp,Finance,1700,Seattle

In [9]:
 --Solution No:7
select emp.last_name, dept.department_name, dept.department_id from employees emp join departments dept
on dept.department_id=emp.department_id where emp.manager_id is not null

last_name,department_name,department_id
Kochhar,Executive,9
De Haan,Executive,9
Hunold,IT,6
Ernst,IT,6
Austin,IT,6
Pataballa,IT,6
Lorentz,IT,6
Greenberg,Finance,10
Faviet,Finance,10
Chen,Finance,10
Sciarra,Finance,10
Urman,Finance,10
Popp,Finance,10
Raphaely,Purchasing,3
Khoo,Purchasing,3
Baida,Purchasing,3
Tobias,Purchasing,3
Himuro,Purchasing,3
Colmenares,Purchasing,3
Weiss,Shipping,5
Fripp,Shipping,5
Kaufling,Shipping,5
Vollman,Shipping,5
Mikkilineni,Shipping,5
Russell,Sales,8
Partners,Sales,8
Taylor,Sales,8
Livingston,Sales,8
Grant,Sales,8
Johnson,Sales,8
Bell,Shipping,5
Everett,Shipping,5
Whalen,Administration,1
Hartstein,Marketing,2
Fay,Marketing,2
Mavris,Human Resources,4
Baer,Public Relations,7
Higgins,Accounting,11
Gietz,Accounting,11

In [10]:
--Solution No:8
select emp.last_name,emp.department_id as 'Department_Number' ,dept.department_name,j.job_title from employees emp join departments dept
on dept.department_id=emp.department_id
join jobs j on emp.job_id=j.job_id

last_name,Department_Number,department_name,job_title
King,9,Executive,President
Kochhar,9,Executive,Administration Vice President
De Haan,9,Executive,Administration Vice President
Hunold,6,IT,Programmer
Ernst,6,IT,Programmer
Austin,6,IT,Programmer
Pataballa,6,IT,Programmer
Lorentz,6,IT,Programmer
Greenberg,10,Finance,Finance Manager
Faviet,10,Finance,Accountant
Chen,10,Finance,Accountant
Sciarra,10,Finance,Accountant
Urman,10,Finance,Accountant
Popp,10,Finance,Accountant
Raphaely,3,Purchasing,Purchasing Manager
Khoo,3,Purchasing,Purchasing Clerk
Baida,3,Purchasing,Purchasing Clerk
Tobias,3,Purchasing,Purchasing Clerk
Himuro,3,Purchasing,Purchasing Clerk
Colmenares,3,Purchasing,Purchasing Clerk
Weiss,5,Shipping,Stock Manager
Fripp,5,Shipping,Stock Manager
Kaufling,5,Shipping,Stock Manager
Vollman,5,Shipping,Stock Manager
Mikkilineni,5,Shipping,Stock Clerk
Russell,8,Sales,Sales Manager
Partners,8,Sales,Sales Manager
Taylor,8,Sales,Sales Representative
Livingston,8,Sales,Sales Representative
Grant,8,Sales,Sales Representative
Johnson,8,Sales,Sales Representative
Bell,5,Shipping,Shipping Clerk
Everett,5,Shipping,Shipping Clerk
Whalen,1,Administration,Administration Assistant
Hartstein,2,Marketing,Marketing Manager
Fay,2,Marketing,Marketing Representative
Mavris,4,Human Resources,Human Resources Representative
Baer,7,Public Relations,Public Relations Representative
Higgins,11,Accounting,Accounting Manager
Gietz,11,Accounting,Public Accountant

In [11]:

--Solution No:9
select emp1.last_name, emp1.employee_id , manager.first_name as 'Manager', manager.manager_id from  employees emp1 , employees manager
where emp1.manager_id= manager.employee_id

last_name,employee_id,Manager,manager_id
Kochhar,101,Steven,NULL
De Haan,102,Steven,NULL
Hunold,103,Lex,100
Ernst,104,Alexander,102
Austin,105,Alexander,102
Pataballa,106,Alexander,102
Lorentz,107,Alexander,102
Greenberg,108,Neena,100
Faviet,109,Nancy,101
Chen,110,Nancy,101
Sciarra,111,Nancy,101
Urman,112,Nancy,101
Popp,113,Nancy,101
Raphaely,114,Steven,NULL
Khoo,115,Den,100
Baida,116,Den,100
Tobias,117,Den,100
Himuro,118,Den,100
Colmenares,119,Den,100
Weiss,120,Steven,NULL
Fripp,121,Steven,NULL
Kaufling,122,Steven,NULL
Vollman,123,Steven,NULL
Mikkilineni,126,Matthew,100
Russell,145,Steven,NULL
Partners,146,Steven,NULL
Taylor,176,Steven,NULL
Livingston,177,Steven,NULL
Grant,178,Steven,NULL
Johnson,179,Steven,NULL
Bell,192,Shanta,100
Everett,193,Shanta,100
Whalen,200,Neena,100
Hartstein,201,Steven,NULL
Fay,202,Michael,100
Mavris,203,Neena,100
Baer,204,Neena,100
Higgins,205,Neena,100
Gietz,206,Shelley,101

In [12]:
--Solution No:10
select last_name,department_id from employees order by last_name

last_name,department_id
Austin,6
Baer,7
Baida,3
Bell,5
Chen,10
Colmenares,3
De Haan,9
Ernst,6
Everett,5
Faviet,10
Fay,2
Fripp,5
Gietz,11
Grant,8
Greenberg,10
Hartstein,2
Higgins,11
Himuro,3
Hunold,6
Johnson,8
Kaufling,5
Khoo,3
King,9
Kochhar,9
Livingston,8
Lorentz,6
Mavris,4
Mikkilineni,5
Partners,8
Pataballa,6
Popp,10
Raphaely,3
Russell,8
Sciarra,10
Taylor,8
Tobias,3
Urman,10
Vollman,5
Weiss,5
Whalen,1

In [13]:
select CONCAT('C','')  as 'Garde',CONCAT(emp.first_name ,' ',emp.last_name) as 'Name' , j.job_title,emp.department_id, emp.salary from employees emp join jobs j
on emp.job_id=j.job_id

Garde,Name,job_title,department_id,salary
C,Steven King,President,9,24000.00
C,Neena Kochhar,Administration Vice President,9,17000.00
C,Lex De Haan,Administration Vice President,9,17000.00
C,Alexander Hunold,Programmer,6,9000.00
C,Bruce Ernst,Programmer,6,6000.00
C,David Austin,Programmer,6,4800.00
C,Valli Pataballa,Programmer,6,4800.00
C,Diana Lorentz,Programmer,6,4200.00
C,Nancy Greenberg,Finance Manager,10,12000.00
C,Daniel Faviet,Accountant,10,9000.00
C,John Chen,Accountant,10,8200.00
C,Ismael Sciarra,Accountant,10,7700.00
C,Jose Manuel Urman,Accountant,10,7800.00
C,Luis Popp,Accountant,10,6900.00
C,Den Raphaely,Purchasing Manager,3,11000.00
C,Alexander Khoo,Purchasing Clerk,3,3100.00
C,Shelli Baida,Purchasing Clerk,3,2900.00
C,Sigal Tobias,Purchasing Clerk,3,2800.00
C,Guy Himuro,Purchasing Clerk,3,2600.00
C,Karen Colmenares,Purchasing Clerk,3,2500.00
C,Matthew Weiss,Stock Manager,5,8000.00
C,Adam Fripp,Stock Manager,5,8200.00
C,Payam Kaufling,Stock Manager,5,7900.00
C,Shanta Vollman,Stock Manager,5,6500.00
C,Irene Mikkilineni,Stock Clerk,5,2700.00
C,John Russell,Sales Manager,8,14000.00
C,Karen Partners,Sales Manager,8,13500.00
C,Jonathon Taylor,Sales Representative,8,8600.00
C,Jack Livingston,Sales Representative,8,8400.00
C,Kimberely Grant,Sales Representative,8,7000.00
C,Charles Johnson,Sales Representative,8,6200.00
C,Sarah Bell,Shipping Clerk,5,4000.00
C,Britney Everett,Shipping Clerk,5,3900.00
C,Jennifer Whalen,Administration Assistant,1,4400.00
C,Michael Hartstein,Marketing Manager,2,13000.00
C,Pat Fay,Marketing Representative,2,6000.00
C,Susan Mavris,Human Resources Representative,4,6500.00
C,Hermann Baer,Public Relations Representative,7,10000.00
C,Shelley Higgins,Accounting Manager,11,12000.00
C,William Gietz,Public Accountant,11,8300.00

In [14]:
--Sub Query
--Solution No:12 
select last_name, hire_date from employees where department_id in (select department_id from employees where department_id=8 )

last_name,hire_date
Russell,1996-10-01
Partners,1997-01-05
Taylor,1998-03-24
Livingston,1998-04-23
Grant,1999-05-24
Johnson,2000-01-04

In [15]:
--Solution No:13
select employee_id, first_name, salary from employees where salary in (select salary from employees where salary >=8200) order by salary

employee_id,first_name,salary
110,John,8200.00
121,Adam,8200.00
206,William,8300.00
177,Jack,8400.00
176,Jonathon,8600.00
103,Alexander,9000.00
109,Daniel,9000.00
204,Hermann,10000.00
114,Den,11000.00
108,Nancy,12000.00
205,Shelley,12000.00
201,Michael,13000.00
146,Karen,13500.00
145,John,14000.00
101,Neena,17000.00
102,Lex,17000.00
100,Steven,24000.00

In [16]:
--Solution No:14
select employee_id as 'Employee Number', last_name from employees where employee_id in 
(select employee_id from employees  where employee_id in(103,105,112,118,122,145))

Employee Number,last_name
103,Hunold
105,Austin
112,Urman
118,Himuro
122,Kaufling
145,Russell

In [17]:
--Solution No:15
select last_name,department_id as 'Department Number', job_id from employees where last_name =(select last_name from employees where last_name='Mavris')

last_name,Department Number,job_id
Mavris,4,8

In [1]:

--Solution No:16
select  last_name,salary from employees where manager_id=100

last_name,salary
Kochhar,17000.00
De Haan,17000.00
Raphaely,11000.00
Weiss,8000.00
Fripp,8200.00
Kaufling,7900.00
Vollman,6500.00
Russell,14000.00
Partners,13500.00
Taylor,8600.00
Livingston,8400.00
Grant,7000.00
Johnson,6200.00
Hartstein,13000.00

In [19]:
--Solution No:17
select department_id as 'Department Number', last_name, job_id from employees where department_id in(select department_id from employees where job_id=9)

Department Number,last_name,job_id
6,Hunold,9
6,Ernst,9
6,Austin,9
6,Pataballa,9
6,Lorentz,9

In [20]:
--Solution No:18
select employee_id,last_name,salary from employees where employee_id in (select employee_id from employees where employee_id in (103,145))

employee_id,last_name,salary
103,Hunold,9000.00
145,Russell,14000.00

In [21]:
--Solution No:19
select first_name from employees where department_id in (select department_id from employees where phone_number is null)

first_name
John
Karen
Jonathon
Jack
Kimberely
Charles

In [22]:
--Solution No:20
select last_name, salary from employees where department_id in (select department_id from employees where department_id=9)

last_name,salary
King,24000.00
Kochhar,17000.00
De Haan,17000.00

In [23]:
--Solution No:21
select first_name, salary,department_id from employees where employee_id in (select employee_id from employees where employee_id in (101,102,145))

first_name,salary,department_id
Neena,17000.00,9
Lex,17000.00,9
John,14000.00,8

In [2]:
--SP to increase Salary of Employee
alter procedure dbo.spIncreaseEmployeeeSalary @salaryInput int, @employeeId int
as
begin 
declare @managerCount int
set @managerCount = (select COUNT(manager_id) as countEmp from employees  where manager_id is not null  and manager_id=@employeeId group by manager_id)
if(@managerCount>1)
begin
if(@salaryInput>0)
begin
update employees set salary=salary+@salaryInput where employee_id=@employeeId
end
else print 'Enter a valid salary'
end
else
print 'Manager count should be greater than 0'

end

In [3]:

exec dbo.spIncreaseEmployeeeSalary 4550,100

select * from employees where employee_id=100

employee_id,first_name,last_name,email,phone_number,hire_date,job_id,salary,manager_id,department_id
100,Steven,King,steven.king@sqltutorial.org,515.123.4567,1987-06-17,4,36000.00,NULL,9

In [4]:
exec dbo.spIncreaseEmployeeeSalary 0,100

select * from employees where employee_id=100

employee_id,first_name,last_name,email,phone_number,hire_date,job_id,salary,manager_id,department_id
100,Steven,King,steven.king@sqltutorial.org,515.123.4567,1987-06-17,4,36000.00,NULL,9

In [5]:
exec dbo.spIncreaseEmployeeeSalary 4550,104

select * from employees where employee_id=100

employee_id,first_name,last_name,email,phone_number,hire_date,job_id,salary,manager_id,department_id
100,Steven,King,steven.king@sqltutorial.org,515.123.4567,1987-06-17,4,36000.00,NULL,9