In [1]:
--Query 1

select first_name,LAST_NAME,SALARY,DEPARTMENT_ID,JOB_ID from employees1 where JOB_ID in
(select JOB_ID from employees1 where JOB_ID='SA_REP');

first_name,LAST_NAME,SALARY,DEPARTMENT_ID,JOB_ID
Peter,Tucker,10000.00,80,SA_REP
David,Bernstein,9500.00,80,SA_REP
Peter,Hall,9000.00,80,SA_REP
Christopher,Olsen,8000.00,80,SA_REP
Nanette,Cambrault,7500.00,80,SA_REP
Oliver,Tuvault,7000.00,80,SA_REP
Janette,King,10000.00,80,SA_REP
Patrick,Sully,9500.00,80,SA_REP
Allan,McEwen,9000.00,80,SA_REP
Lindsey,Smith,8000.00,80,SA_REP
Louise,Doran,7500.00,80,SA_REP
Sarath,Sewall,7000.00,80,SA_REP
Clara,Vishney,10500.00,80,SA_REP
Danielle,Greene,9500.00,80,SA_REP
Mattea,Marvins,7200.00,80,SA_REP
David,Lee,6800.00,80,SA_REP
Sundar,Ande,6400.00,80,SA_REP
Amit,Banda,6200.00,80,SA_REP
Lisa,Ozer,11500.00,80,SA_REP
Harrison,Bloom,10000.00,80,SA_REP
Tayler,Fox,9600.00,80,SA_REP
William,Smith,7400.00,80,SA_REP
Elizabeth,Bates,7300.00,80,SA_REP
Sundita,Kumar,6100.00,80,SA_REP
Ellen,Abel,11000.00,80,SA_REP
Alyssa,Hutton,8800.00,80,SA_REP
Jonathon,Taylor,8600.00,80,SA_REP
Jack,Livingston,8400.00,80,SA_REP
Kimberely,Grant,7000.00,0,SA_REP
Charles,Johnson,6200.00,80,SA_REP

In [2]:
--Query 2

select FIRST_NAME,LAST_NAME, EMPLOYEE_ID, SALARY from employees1 where MANAGER_ID in (select MANAGER_ID from employees1 where MANAGER_ID=122);

FIRST_NAME,LAST_NAME,EMPLOYEE_ID,SALARY
Jason,Mallin,133,3300.00
Michael,Rogers,134,2900.00
Ki,Gee,135,2400.00
Hazel,Philtanker,136,2200.00
Kelly,Chung,188,3800.00
Jennifer,Dilly,189,3600.00
Timothy,Gates,190,2900.00
Randall,Perkins,191,2500.00

In [3]:
--Query 3

select FIRST_NAME,LAST_NAME,HIRE_DATE from employees1 where HIRE_DATE  between '08/01/1987' and '08/31/1987';

FIRST_NAME,LAST_NAME,HIRE_DATE
John,Russell,1987-08-01
Karen,Partners,1987-08-02
Alberto,Errazuriz,1987-08-03
Gerald,Cambrault,1987-08-04
Eleni,Zlotkey,1987-08-05
Peter,Tucker,1987-08-06
David,Bernstein,1987-08-07
Peter,Hall,1987-08-08
Christopher,Olsen,1987-08-09
Nanette,Cambrault,1987-08-10
Oliver,Tuvault,1987-08-11
Janette,King,1987-08-12
Patrick,Sully,1987-08-13
Allan,McEwen,1987-08-14
Lindsey,Smith,1987-08-15
Louise,Doran,1987-08-16
Sarath,Sewall,1987-08-17
Clara,Vishney,1987-08-18
Danielle,Greene,1987-08-19
Mattea,Marvins,1987-08-20
David,Lee,1987-08-21
Sundar,Ande,1987-08-22
Amit,Banda,1987-08-23
Lisa,Ozer,1987-08-24
Harrison,Bloom,1987-08-25
Tayler,Fox,1987-08-26
William,Smith,1987-08-27
Elizabeth,Bates,1987-08-28
Sundita,Kumar,1987-08-29
Ellen,Abel,1987-08-30
Alyssa,Hutton,1987-08-31

In [4]:
--Query 4

select EMPLOYEE_ID,FIRST_NAME,LAST_NAME, JOB_ID from employees1 where EMPLOYEE_ID  between  103 and 120;

EMPLOYEE_ID,FIRST_NAME,LAST_NAME,JOB_ID
103,Alexander,Hunold,IT_PROG
104,Bruce,Ernst,IT_PROG
105,David,Austin,IT_PROG
106,Valli,Pataballa,IT_PROG
107,Diana,Lorentz,IT_PROG
108,Nancy,Greenberg,FI_MGR
109,Daniel,Faviet,FI_ACCOUNT
110,John,Chen,FI_ACCOUNT
111,Ismael,Sciarra,FI_ACCOUNT
112,Jose Manuel,Urman,FI_ACCOUNT
113,Luis,Popp,FI_ACCOUNT
114,Den,Raphaely,PU_MAN
115,Alexander,Khoo,PU_CLERK
116,Shelli,Baida,PU_CLERK
117,Sigal,Tobias,PU_CLERK
118,Guy,Himuro,PU_CLERK
119,Karen,Colmenares,PU_CLERK
120,Matthew,Weiss,ST_MAN

In [5]:
--Query 5

select top(18) FIRST_NAME,LAST_NAME, DEPARTMENT_ID from employees1;

FIRST_NAME,LAST_NAME,DEPARTMENT_ID
Steven,King,90
Neena,Kochhar,90
Lex,De Haan,90
Alexander,Hunold,60
Bruce,Ernst,60
David,Austin,60
Valli,Pataballa,60
Diana,Lorentz,60
Nancy,Greenberg,100
Daniel,Faviet,100
John,Chen,100
Ismael,Sciarra,100
Jose Manuel,Urman,100
Luis,Popp,100
Den,Raphaely,30
Alexander,Khoo,30
Shelli,Baida,30
Sigal,Tobias,30

In [6]:
-- Query 6

select DEPARTMENT_ID,SUM(SALARY)  from employees1 where DEPARTMENT_ID !=0  group by DEPARTMENT_ID  ;

DEPARTMENT_ID,(No column name)
10,4400.00
20,19000.00
30,24900.00
40,6500.00
50,156400.00
60,28800.00
70,10000.00
80,304500.00
90,58000.00
100,51600.00
110,20300.00

In [7]:
--Query 7

select FIRST_NAME,LAST_NAME from employees1 where MANAGER_ID in (select MANAGER_ID from employees1 where MANAGER_ID in (100,101));

FIRST_NAME,LAST_NAME
Neena,Kochhar
Lex,De Haan
Nancy,Greenberg
Den,Raphaely
Matthew,Weiss
Adam,Fripp
Payam,Kaufling
Shanta,Vollman
Kevin,Mourgos
John,Russell
Karen,Partners
Alberto,Errazuriz
Gerald,Cambrault
Eleni,Zlotkey
Jennifer,Whalen
Michael,Hartstein
Susan,Mavris
Hermann,Baer
Shelley,Higgins

In [9]:
with cte as
(select DEPARTMENT_ID,FIRST_NAME ,LAST_NAME, ROW_NUMBER() over (PARTITION by DEPARTMENT_ID order by  DEPARTMENT_ID  ) as rank from employees1 
)
select FIRST_NAME ,LAST_NAME from cte where rank=1 and department_id in (select  DEPARTMENT_ID from employees1 group by  DEPARTMENT_ID  having  COUNT(DEPARTMENT_ID) between 1 and 2);

FIRST_NAME,LAST_NAME
Kimberely,Grant
Jennifer,Whalen
Michael,Hartstein
Susan,Mavris
Hermann,Baer
Shelley,Higgins

In [11]:
select * from departments where DEPARTMENT_ID in (select DEPARTMENT_ID from employees1
where EMPLOYEE_ID in (select EMPLOYEE_ID from job_history group by EMPLOYEE_ID having COUNT(EMPLOYEE_ID) >=1 ) group by DEPARTMENT_ID having MAX(salary)>700 ) ;

DEPARTMENT_ID,DEPARTMENT_NAME,MANAGER_ID,LOCATION_ID
10,Administration,200,1700
20,Marketing,201,1800
30,Purchasing,114,1700
50,Shipping,121,1500
80,Sales,145,2500
90,Executive,100,1700

In [12]:
--Query 10

select * from departments where DEPARTMENT_ID in(70,90,110);

DEPARTMENT_ID,DEPARTMENT_NAME,MANAGER_ID,LOCATION_ID
70,Public Relations,204,2700
90,Executive,100,1700
110,Accounting,205,1700

In [13]:
with cte as
(select DEPARTMENT_ID,FIRST_NAME ,LAST_NAME,salary, ROW_NUMBER() over (PARTITION by DEPARTMENT_ID order by  DEPARTMENT_ID  ) as rank from employees1 
)
select DEPARTMENT_ID,CONCAT(FIRST_NAME ,LAST_NAME) as 'full_name',SALARY from cte where rank=1 order by DEPARTMENT_ID desc

DEPARTMENT_ID,full_name,SALARY
110,ShelleyHiggins,12000.00
100,NancyGreenberg,12000.00
90,StevenKing,24000.00
80,JohnRussell,14000.00
70,HermannBaer,10000.00
60,AlexanderHunold,9000.00
50,MatthewWeiss,8000.00
40,SusanMavris,6500.00
30,DenRaphaely,11000.00
20,MichaelHartstein,13000.00
10,JenniferWhalen,4400.00
0,KimberelyGrant,7000.00

In [14]:
select * from jobs where JOB_ID='SA_REP';

JOB_ID,JOB_TITLE,MIN_SALARY,MAX_SALARY
SA_REP,Sales Representative,6000,12000